PORT=3000
HOST=localhost

DB_HOST=localhost
DB_PORT=27017
DB_NAME=tu_nombre_de_bd
DB_USER=admin
DB_PASSWORD=secret_password

JWT_SECRET=tu_clave_secreta_para_jwt

MONGO_EXPRESS_EMAIL=admin@admin.com
MONGO_EXPRESS_PASSWORD=admin_password